repos:
  - repo: local
    hooks:
      - id: sdkapi-openapi-codegen
        name: Run go generate for SDK API code when OpenAPI spec changes
        entry: go generate ./internal/sdkapi/v2/api/server.go
        language: system
        files: ^internal/sdkapi/v2/openapi/.*\.(yaml|json)$
        pass_filenames: false
      - id: admin-openapi-codegen
        name: Run go generate for Admin API code when OpenAPI spec changes
        entry: go generate ./internal/admin/api/generate.go
        language: system
        files: ^internal/admin/openapi/.*\.(yaml|json)$
        pass_filenames: false
