x-restart-policy: &restart-policy
  restart: unless-stopped
x-logging: &default-logging
  options:
    max-size: "100m"
    max-file: "5"
  driver: json-file

services:
  geodb-maxmind:
    image: maxmindinc/geoipupdate:v4.7.1
    environment:
      GEOIPUPDATE_ACCOUNT_ID: ${MAXMIND_ACCOUNT_ID}
      GEOIPUPDATE_LICENSE_KEY: ${MAXMIND_LICENSE_KEY}
      GEOIPUPDATE_EDITION_IDS: GeoLite2-City
    volumes:
      - "geodb:/usr/share/GeoIP/"

  postgres:
    image: postgres:17.2
    environment:
      POSTGRES_PASSWORD: ${PG_PASSWORD:-password}
      POSTGRES_USER: bidon
      POSTGRES_DB: bidon
    logging: *default-logging
    volumes:
      - "postgres-data:/var/lib/postgresql/data"
    <<: *restart-policy

  redis:
    image: redis:7.0.9
    logging: *default-logging
    <<: *restart-policy

  zookeeper:
    image: confluentinc/cp-zookeeper:7.2.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      CONFLUENT_SUPPORT_METRICS_ENABLE: "false"
      ZOOKEEPER_SNAPSHOT_TRUST_EMPTY: "true"
    logging: *default-logging
    volumes:
      - "zookeeper-data:/var/lib/zookeeper/data"
      - "zookeeper-log:/var/lib/zookeeper/log"
    <<: *restart-policy

  kafka:
    image: confluentinc/cp-kafka:7.2.1
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_INTERNAL://kafka:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_CONFLUENT_SCHEMA_REGISTRY_URL: http://schema-registry:8081
    logging: *default-logging
    volumes:
      - "kafka-data:/var/lib/kafka/data"
      - "kafka-log:/var/lib/kafka/log"
    <<: *restart-policy

  schema-registry:
    image: confluentinc/cp-schema-registry:7.3.2
    depends_on:
      - kafka
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'kafka:29092'
      SCHEMA_REGISTRY_LISTENERS: http://0.0.0.0:8081
    logging: *default-logging
    <<: *restart-policy

  bidon-migrate:
    image: ghcr.io/bidon-io/bidon-migrate:latest
    command: up
    depends_on:
      - postgres
    environment:
      ENVIRONMENT: production
      DATABASE_URL: postgres://bidon:${PG_PASSWORD:-password}@postgres:5432/bidon
      DATABASE_REPLICA_URL: postgres://bidon:${PG_PASSWORD:-password}@postgres:5432/bidon
    logging: *default-logging

  bidon-admin:
    image: ghcr.io/bidon-io/bidon-admin:latest
    depends_on:
      postgres:
        condition: service_started
      redis:
        condition: service_started
      bidon-migrate:
        condition: service_completed_successfully
    environment:
      PORT: 3200
      ENVIRONMENT: production
      APP_SECRET: ${APP_SECRET}
      SUPERUSER_LOGIN: ${SUPERUSER_LOGIN}
      SUPERUSER_PASSWORD: ${SUPERUSER_PASSWORD}
      DATABASE_URL: postgres://bidon:${PG_PASSWORD:-password}@postgres:5432/bidon
      DATABASE_REPLICA_URL: postgres://bidon:${PG_PASSWORD:-password}@postgres:5432/bidon
      SNOWFLAKE_NODE_ID: 1
    ports:
      - "3200:3200"
    logging: *default-logging
    <<: *restart-policy

  bidon-admin-init:
    image: curlimages/curl:latest
    depends_on:
      bidon-admin:
        condition: service_started
    environment:
      SUPERUSER_LOGIN: ${SUPERUSER_LOGIN}
      SUPERUSER_PASSWORD: ${SUPERUSER_PASSWORD}
    volumes:
      - ./scripts:/scripts:ro
    entrypoint: ["/bin/sh", "/scripts/init-admin.sh"]
    network_mode: "service:bidon-admin"
    restart: "no"

  bidon-sdkapi:
    image: ghcr.io/bidon-io/bidon-sdkapi:latest
    depends_on:
      kafka:
        condition: service_started
      schema-registry:
        condition: service_started
      postgres:
        condition: service_started
      redis:
        condition: service_started
      bidon-migrate:
        condition: service_completed_successfully
    environment:
      PORT: 3100
      GRPC_PORT: 50051
      ENVIRONMENT: production
      DATABASE_URL: postgres://bidon:${PG_PASSWORD:-password}@postgres:5432/bidon
      DATABASE_REPLICA_URL: postgres://bidon:${PG_PASSWORD:-password}@postgres:5432/bidon
      REDIS_CLUSTER: redis://redis:6379/0
      USE_KAFKA: "true"
      KAFKA_BROKERS_LIST: kafka:9092
      KAFKA_CLIENT_ID: bidon_dev
      KAFKA_BATCH_MAX_BYTES:
      KAFKA_DELIVERY_INTERVAL: 5
      KAFKA_AD_EVENTS_TOPIC: ad-events
      KAFKA_NOTIFICATION_EVENTS_TOPIC: notification-events
      USE_GEOCODING: "true"
      MAXMIND_GEOIP_FILE_PATH: /public/system/GeoLite2-City.mmdb
    ports:
      - "3100:3100"
      - "50051:50051"
    volumes:
      - geodb:/public/system
    logging: *default-logging
    <<: *restart-policy

  bidon-proxy:
    image: ghcr.io/bidon-io/bidon-proxy:latest
    depends_on:
      bidon-sdkapi:
        condition: service_started
    environment:
      PROXY_PORT: 3000
      PROXY_GRPC_URL: http://bidon-sdkapi:50051
      PROXY_LOG_LEVEL: info
      ENVIRONMENT: production
    ports:
      - "3000:3000"
    logging: *default-logging
    <<: *restart-policy

volumes:
  geodb:
  postgres-data:
  zookeeper-log:
  zookeeper-data:
  kafka-data:
  kafka-log:
