# To separate your traces from other application
LANGSMITH_PROJECT=agent

# Add API keys for connecting to LLM providers, data sources, and other integrations here
LANGSMITH_API_KEY=lsv_xxxx
LLAMA_INDEX_API_KEY=xxxx
