openapi: 3.0.3
info:
  title: SDK API
  version: 1.0.0
paths:
  /v2/auction/{ad_type}:
    post:
      summary: Auction
      operationId: getAuction
      parameters:
        - name: ad_type
          in: path
          description: Ad type
          required: true
          schema:
            $ref: './schemas/ad-type.schema.json'
      requestBody:
        description: Auction request
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/auction-request.schema.json'
      responses:
        '200':
          description: Auction response
          content:
            application/json:
              schema:
                $ref: './schemas/auction-response.schema.json'
      default:
        description: Error
        content:
          application/problem+json:
            schema:
              $ref: './schemas/error.schema.json'
  /v2/click{ad_type}:
    post:
      summary: Click
      operationId: postClick
      parameters:
        - name: ad_type
          in: path
          description: Ad type
          required: true
          schema:
            $ref: './schemas/ad-type.schema.json'
      requestBody:
        description: Click request
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/click-request.schema.json'
      responses:
        '200':
          description: Click response
          content:
            application/json:
              schema:
                $ref: './schemas/success-response.schema.json'
      default:
        description: Error
        content:
          application/problem+json:
            schema:
              $ref: './schemas/error.schema.json'
  /v2/config:
    post:
      summary: Get config
      operationId: getConfig
      requestBody:
        description: Config request
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/config-request.schema.json'
      responses:
        '200':
          description: Config response
          content:
            application/json:
              schema:
                $ref: './schemas/config-response.schema.json'
      default:
        description: Error
        content:
          application/problem+json:
            schema:
              $ref: './schemas/error.schema.json'
  /v2/loss/{ad_type}:
    post:
      summary: Loss
      operationId: postLoss
      parameters:
        - name: ad_type
          in: path
          description: Ad type
          required: true
          schema:
            $ref: './schemas/ad-type.schema.json'
      requestBody:
        description: Loss request
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/loss-request.schema.json'
      responses:
        '200':
          description: Loss response
          content:
            application/json:
              schema:
                $ref: './schemas/success-response.schema.json'
      default:
        description: Error
        content:
          application/problem+json:
            schema:
              $ref: './schemas/error.schema.json'
  /v2/stats/{ad_type}:
    post:
      summary: Stats
      operationId: postStats
      parameters:
        - name: ad_type
          in: path
          description: Ad type
          required: true
          schema:
              $ref: './schemas/ad-type.schema.json'
      requestBody:
        description: Stats request
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/stats-request.schema.json'
      responses:
        '200':
          description: Stats response
          content:
            application/json:
              schema:
                $ref: './schemas/success-response.schema.json'
      default:
        description: Error
        content:
        application/problem+json:
          schema:
            $ref: './schemas/error.schema.json'
  /v2/show/{ad_type}:
    post:
      summary: Show
      operationId: postShow
      parameters:
        - name: ad_type
          in: path
          description: Ad type
          required: true
          schema:
            $ref: './schemas/ad-type.schema.json'
      requestBody:
        description: Show request
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/show-request.schema.json'
      responses:
        '200':
          description: Show response
          content:
            application/json:
              schema:
                $ref: './schemas/success-response.schema.json'
      default:
        description: Error
        content:
          application/problem+json:
            schema:
              $ref: './schemas/error.schema.json'
  /v2/reward/{ad_type}:
    post:
      summary: Reward
      operationId: postReward
      parameters:
        - name: ad_type
          in: path
          description: Ad type for the reward request
          required: true
          schema:
            type: string
            enum: ["rewarded"]
      requestBody:
        description: Reward request
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/reward-request.schema.json'
      responses:
        '200':
          description: Reward response
          content:
            application/json:
              schema:
                $ref: './schemas/success-response.schema.json'
      default:
        description: Error
        content:
          application/problem+json:
            schema:
              $ref: './schemas/error.schema.json'
  /v2/win/{ad_type}:
    post:
      summary: Win
      operationId: postWin
      parameters:
        - name: ad_type
          in: path
          description: Ad type
          required: true
          schema:
            $ref: './schemas/ad-type.schema.json'
      requestBody:
        description: Win request
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/win-request.schema.json'
      responses:
        '200':
          description: Win response
          content:
            application/json:
              schema:
                $ref: './schemas/success-response.schema.json'
      default:
        description: Error
        content:
          application/problem+json:
            schema:
              $ref: './schemas/error.schema.json'
  /openapi.json:
    get:
      summary: Get OpenAPI specification
      operationId: getOpenAPISpec
      description: Returns the OpenAPI JSON specification for the API.
      responses:
        '200':
          description: OpenAPI JSON specification
          content:
            application/json:
              schema:
                type: object
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: './schemas/error.schema.json'
