name: Deploy

on:
  workflow_call:
    inputs:
      tag:
        type: string
        required: true
        default: latest
  workflow_dispatch:
    inputs:
      tag:
        type: string
        required: true
        default: latest

jobs:
  deploy:
    name: Deploy
    runs-on: [self-hosted]
    environment: production
    env:
      TAG: ${{ inputs.tag }}
    steps:
      - name: Get latest release
        if: ${{ inputs.tag == 'latest' }}
        id: latest-release
        uses: octokit/request-action@v2.1.7
        with:
          route: GET /repos/${{ github.repository }}/releases/latest
        env:
          GITHUB_TOKEN: ${{ secrets.PAT_RUNNER }}

      - name: Set TAG
        if: ${{ inputs.tag == 'latest' }}
        run: echo "TAG=${{ fromJson(steps.latest-release.outputs.data).tag_name }}" >> $GITHUB_ENV

      - name: Checks-out repository devops
        uses: actions/checkout@v3
        with:
          repository: ${{ secrets.ANSIBLE_SECRET }}/devops
          token: ${{ secrets.PAT_RUNNER }}

      - name: Data migratio
        working-directory: ./${{ secrets.ANSIBLE_SECRET }}/prod
        run: make bidon-data-migration TAG=$TAG

      - name: Deploy backend
        working-directory: ./${{ secrets.ANSIBLE_SECRET }}/prod
        run: make bidon-backend TAG=$TAG

      - name: Deploy api
        working-directory: ./${{ secrets.ANSIBLE_SECRET }}/prod
        run: make bidon-api TAG=$TAG

      - name: Deploy admin
        working-directory: ./${{ secrets.ANSIBLE_SECRET }}/prod
        run: make bidon-admin TAG=$TAG

      - name: Deploy sdkapi
        working-directory: ./${{ secrets.ANSIBLE_SECRET }}/prod
        run: make bidon-sdkapi TAG=$TAG
