name: Stage build and deploy

on:
  workflow_dispatch:
    inputs:
      stage-number:
        type: choice
        required: true
        description: Stage number
        options:
          - 1
          - 2
      refresh-db:
        type: boolean
        description: Refresh DB
        default: false


jobs:
  build:
    name: Build image
    uses: ./.github/workflows/build.yml
    with:
      tag: stage${{ inputs.stage-number }}
      registry: ghcr.io/bidon-io/stage
    secrets: inherit

  deploy:
    name: Deploy
    needs: [build]
    runs-on: [self-hosted]
    steps:
      - name: Checks-out repository devops
        uses: actions/checkout@v3
        with:
          repository: ${{ secrets.ANSIBLE_SECRET }}/devops
          token: ${{ secrets.PAT_RUNNER }}

      - name: Refresh DB
        if: ${{ inputs.refresh-db == true }}
        working-directory: ./${{ secrets.ANSIBLE_SECRET }}/stage
        run: make bidon-refresh-db STAGE=${{ inputs.stage-number }}

      - name: Deploy stage
        working-directory: ./${{ secrets.ANSIBLE_SECRET }}/stage
        run: make bidon-backend STAGE=${{ inputs.stage-number }}
