name: Build and Deploy Stage

on:
  workflow_dispatch:
    inputs:
      stage-number:
        description: Stage number
        type: choice
        required: true
        options: ['1', '2']
      mirror-traffic:
        description: Production traffic
        type: choice
        options: [disable, enable]
        default: disable
      refresh-db:
        description: Refresh DB
        type: boolean
        default: false

env:
  STAGE: ${{ inputs.stage-number }}

jobs:
  build:
    name: Build and push images
    uses: ./.github/workflows/prod-build.yml
    secrets: inherit
    with:
      tag: stage${{ inputs.stage-number }}
      registry: ghcr.io/bidon-io/stage

  deploy:
    name: Deploy stage
    needs: [build]
    runs-on: [self-hosted]
    steps:
      - name: Check out devops repository
        uses: actions/checkout@v4
        with:
          repository: ${{ secrets.ANSIBLE_SECRET }}/devops
          token: ${{ secrets.PAT_RUNNER }}

      - name: Refresh DB
        if: inputs.refresh-db
        working-directory: ./${{ secrets.ANSIBLE_SECRET }}/stage
        run: make bidon-refresh-db

      - name: Deploy stage
        working-directory: ./${{ secrets.ANSIBLE_SECRET }}/stage
        run: make bidon-backend

      - name: Production mirror traffic
        working-directory: ./${{ secrets.ANSIBLE_SECRET }}/stage
        env:
          ACTION: ${{ inputs.mirror-traffic }}
        run: make bidon-prod-traffic
