name: Scan repo

on:
  push:
    branches:
      - main

jobs:
  trivy:
    name: Vulnerability scanning
    runs-on: ubuntu-latest
    steps:
      - name: Checks-out repository
        uses: actions/checkout@v4

      - name: Run trivy
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          format: 'table'
